<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt0JCfa2S1neFBA7SginWVg6ycbzT8mKU</string>
	<key>GCM_SENDER_ID</key>
	<string>805957180224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseRemoteConfigExample</string>
	<key>PROJECT_ID</key>
	<string>feature-manager-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>feature-manager-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805957180224:ios:605a016cdd96315bc878a5</string>
</dict>
</plist>